.ant-table-content {
  max-height: calc(100vh - 22rem);
  overflow: auto;
}

.ant-table-content::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

.ant-table-content::-webkit-scrollbar-track {
  background: transparent;
}

.ant-table-content::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}
